# Explore here

In [22]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("kalacheva/london-bike-share-usage-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/kalacheva/london-bike-share-usage-dataset?dataset_version_number=1...

100%|██████████| 24.2M/24.2M [00:00<00:00, 35.4MB/s]

Extracting files...

Path to dataset files: /home/vscode/.cache/kagglehub/datasets/kalacheva/london-bike-share-usage-dataset/versions/1

In [23]:
import os

dataset_path = "/home/vscode/.cache/kagglehub/datasets/kalacheva/london-bike-share-usage-dataset/versions/1"

# Listar archivos en la carpeta
files = os.listdir(dataset_path)
print(files)

['LondonBikeJourneyAug2023.csv']

In [25]:
import pandas as pd

# Ruta del archivo (ajusta según el resultado del paso anterior)
csv_file = os.path.join(dataset_path, "LondonBikeJourneyAug2023.csv")

# Cargar el CSV en un DataFrame
df = pd.read_csv(csv_file)

# Mostrar las primeras filas
df.head()

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,132825189,8/1/2023 0:00,1190,"Kennington Lane Rail Bridge, Vauxhall",8/1/2023 0:17,1059,"Albert Embankment, Vauxhall",23715,CLASSIC,16m 46s,1006663
1,132825190,8/1/2023 0:00,1190,"Kennington Lane Rail Bridge, Vauxhall",8/1/2023 0:17,1059,"Albert Embankment, Vauxhall",41267,CLASSIC,16m 47s,1007128
2,132825191,8/1/2023 0:00,983,"Euston Road, Euston",8/1/2023 0:11,3500,"Baldwin Street, St. Luke's",53180,CLASSIC,11m 6s,666395
3,132825192,8/1/2023 0:01,3479,"Old Brompton Road, South Kensington",8/1/2023 0:12,1140,"Grosvenor Road, Pimlico",53431,CLASSIC,11m 53s,713059
4,132825193,8/1/2023 0:01,1219,"Lower Marsh, Waterloo",8/1/2023 0:17,200056,"Vauxhall Walk, Vauxhall",54758,CLASSIC,16m 3s,963786

In [26]:
print(df.shape)
print(df.info())

(776527, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776527 entries, 0 to 776526
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Number                776527 non-null  int64
 1   Start date            776527 non-null  object
 2   Start station number  776527 non-null  int64
 3   Start station         776527 non-null  object
 4   End date              776527 non-null  object
 5   End station number    776527 non-null  int64
 6   End station           776527 non-null  object
 7   Bike number           776527 non-null  int64
 8   Bike model            776527 non-null  object
 9   Total duration        776527 non-null  object
 10  Total duration (ms)   776527 non-null  int64
dtypes: int64(5), object(6)
memory usage: 65.2+ MB
None

In [27]:
df.columns

Index(['Number', 'Start date', 'Start station number', 'Start station',
       'End date', 'End station number', 'End station', 'Bike number',
       'Bike model', 'Total duration', 'Total duration (ms)'],
      dtype='object')