# Explore here

In [63]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("loveall/appliances-energy-prediction")

print("Path to dataset files:", path)

Path to dataset files: /home/vscode/.cache/kagglehub/datasets/loveall/appliances-energy-prediction/versions/1

In [64]:
import os

dataset_path = "/home/vscode/.cache/kagglehub/datasets/loveall/appliances-energy-prediction/versions/1"

# Listar archivos en la carpeta
files = os.listdir(dataset_path)
print(files)

['KAG_energydata_complete.csv']

In [65]:
import pandas as pd

# Ruta del archivo (ajusta según el resultado del paso anterior)
csv_file = os.path.join(dataset_path, "KAG_energydata_complete.csv")

# Cargar el CSV en un DataFrame
df = pd.read_csv(csv_file)

# Mostrar las primeras filas
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

* RENOMBRAR VARIABLES

In [76]:
# Diccionario de nombres de columnas para traducir de inglés a español
columnas_esp = {
    "date": "FECHA",
    "Appliances": "ELECTRODOMESTICOS",
    "lights": "LUCES",
    "T1": "TEMP_COCINA",
    "RH_1": "HUM_COCINA",
    "T2": "TEMP_SALA",
    "RH_2": "HUM_SALA",
    "T3": "TEMP_HAB1",
    "RH_3": "HUM_HAB1",
    "T4": "TEMP_HAB2",
    "RH_4": "HUM_HAB2",
    "T5": "TEMP_BAÑO",
    "RH_5": "HUM_BAÑO",
    "T6": "TEMP_LAVADERO",
    "RH_6": "HUM_LAVADERO",
    "T7": "TEMP_ESTUDIO",
    "RH_7": "HUM_ESTUDIO",
    "T8": "TEMP_CLOSET",
    "RH_8": "HUM_CLOSET",
    "T9": "TEMP_GARAGE",
    "RH_9": "HUM_GARAGE",
    "T_out": "TEMP_EXTERIOR",
    "Press_mm_hg": "PRESION_EXTERIOR",
    "RH_out": "HUM_EXTERIOR",
    "Windspeed": "VEL_VIENTO",
    "Visibility": "VISIBILIDAD",
    "Tdewpoint": "PUNTO_ROCIO",
    "rv1": "VARIABLE_ALEATORIA1",
    "rv2": "VARIABLE_ALEATORIA2"
}

# Aplicar el cambio de nombres
df.rename(columns=columnas_esp, inplace=True)

df.index = range(1, len(df) + 1)
df.index.name = "ID"
# Mostrar las primeras filas para verificar
df.head()

,FECHA,ELECTRODOMESTICOS,LUCES,TEMP_COCINA,HUM_COCINA,TEMP_SALA,HUM_SALA,TEMP_HAB1,HUM_HAB1,TEMP_HAB2,...,TEMP_GARAGE,HUM_GARAGE,TEMP_EXTERIOR,PRESION_EXTERIOR,HUM_EXTERIOR,VEL_VIENTO,VISIBILIDAD,PUNTO_ROCIO,VARIABLE_ALEATORIA1,VARIABLE_ALEATORIA2
ID,,,,,,,,,,,,,,,,,,,,,
1,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
2,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
3,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
4,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
5,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [77]:
import pandas as pd
import os

# Definir la ruta de la carpeta y el archivo
folder_path = "/workspaces/Proyecto-final/data"  # Carpeta donde se guardará el archivo
archivo_csv = os.path.join(folder_path, "consumo_energetico.csv")


# Guardar el DataFrame en la carpeta "data"
df.to_csv(archivo_csv, index=False)

print(f"Archivo guardado exitosamente: {archivo_csv}")

Archivo guardado exitosamente: /workspaces/Proyecto-final/data/consumo_energetico.csv

* SE GUARDO EL ARCHIVO EN LA CARPETA DATA

In [67]:
import pandas as pd
import os

# Ruta donde deseas guardar el archivo (ajústala según tu necesidad)
csv_output_path = "consumo_energetico.csv"

# Guardar el DataFrame en un archivo CSV
df.to_csv(csv_output_path, index=False)

print(f"Archivo guardado exitosamente en: {csv_output_path}")

Archivo guardado exitosamente en: consumo_energetico.csv

* Obtencion de información general del conjunto de datos

In [68]:
print(df.shape)
print(df.info())

(19735, 29)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB
None

In [69]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [70]:
df.shape

(19735, 29)

# ALMACENIMIENTO DE BASE DE DATOS EN SQL

In [90]:
#codigo para eliminar tabla existe consumo_energetico, para posibles cambios
cursor.execute("DROP TABLE IF EXISTS consumo_energetico")
con.commit()

In [ ]:
import sqlite3
import pandas as pd

# Conectar a la base de datos o crearla si no existe
con = sqlite3.connect("consumo_energetico.db")
cursor = con.cursor()

# Crear la tabla consumo_energetico con nombres en inglés
cursor.execute("""
CREATE TABLE consumo_energetico (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    FECHA TEXT NOT NULL,
    ELECTRODOMESTICOS INT NOT NULL,
    LUCES INT NOT NULL,
    TEMP_COCINA FLOAT NOT NULL,
    HUM_COCINA FLOAT NOT NULL,
    TEMP_SALA FLOAT NOT NULL,
    HUM_SALA FLOAT NOT NULL,
    TEMP_HAB1 FLOAT NOT NULL,
    HUM_HAB1 FLOAT NOT NULL,
    TEMP_HAB2 FLOAT NOT NULL,
    HUM_HAB2 FLOAT NOT NULL,
    TEMP_BAÑO FLOAT NOT NULL,
    HUM_BAÑO FLOAT NOT NULL,
    TEMP_LAVADERO FLOAT NOT NULL,
    HUM_LAVADERO FLOAT NOT NULL,
    TEMP_ESTUDIO FLOAT NOT NULL,
    HUM_ESTUDIO FLOAT NOT NULL,
    TEMP_CLOSET FLOAT NOT NULL,
    HUM_CLOSET FLOAT NOT NULL,
    TEMP_GARAGE FLOAT NOT NULL,
    HUM_GARAGE FLOAT NOT NULL,
    TEMP_EXTERIOR FLOAT NOT NULL,
    PRESION_EXTERIOR FLOAT NOT NULL,
    HUM_EXTERIOR FLOAT NOT NULL,
    VEL_VIENTO FLOAT NOT NULL,
    VISIBILIDAD FLOAT NOT NULL,
    PUNTO_ROCIO FLOAT NOT NULL,
    VARIABLE_ALEATORIA1 FLOAT NOT NULL,
    VARIABLE_ALEATORIA2 FLOAT NOT NULL
)
""")

# Confirmar cambios
con.commit()

# Insertar datos en la tabla
try:
    df.to_sql("consumo_energetico", con, if_exists="append", index=False)
    print("Datos insertados correctamente en la base de datos.")
except Exception as e:
    print("Error al insertar datos:", e)

# Confirmar cambios
con.commit()

# Consultar e imprimir la fila con índice 5
cursor.execute("SELECT * FROM consumo_energetico WHERE id = 5")
fila = cursor.fetchone()

if fila:
    print("Fila con id 5:", fila)
else:
    print("No se encontró la fila con id 5.")

# Cerrar la conexión
con.close()

Datos insertados correctamente en la base de datos.
Fila con id 5: (5, '2016-01-11 17:40:00', 60, 40, 19.89, 46.33333333333329, 19.2, 44.53, 19.79, 45.0, 18.89, 45.53, 17.2, 55.09, 6.36666666666667, 84.8933333333333, 17.2, 41.23, 18.1, 48.59, 17.0, 45.4, 6.133333333333329, 733.9, 92.0, 5.66666666666667, 47.66666666666669, 4.9, 10.084096551872788, 10.084096551872788)

# EDA

In [92]:
import pandas as pd

df=pd.read_csv("/workspaces/Proyecto-final/data/consumo_energetico.csv")
df.head()

,FECHA,ELECTRODOMESTICOS,LUCES,TEMP_COCINA,HUM_COCINA,TEMP_SALA,HUM_SALA,TEMP_HAB1,HUM_HAB1,TEMP_HAB2,...,TEMP_GARAGE,HUM_GARAGE,TEMP_EXTERIOR,PRESION_EXTERIOR,HUM_EXTERIOR,VEL_VIENTO,VISIBILIDAD,PUNTO_ROCIO,VARIABLE_ALEATORIA1,VARIABLE_ALEATORIA2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097