# Proyecto final

In [130]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("loveall/appliances-energy-prediction")

print("Path to dataset files:", path)

Path to dataset files: /home/vscode/.cache/kagglehub/datasets/loveall/appliances-energy-prediction/versions/1

In [131]:
import os

dataset_path = "/home/vscode/.cache/kagglehub/datasets/loveall/appliances-energy-prediction/versions/1"

# Listar archivos en la carpeta
files = os.listdir(dataset_path)
print(files)

['KAG_energydata_complete.csv']

In [132]:
import pandas as pd

# Ruta del archivo (ajusta según el resultado del paso anterior)
csv_file = os.path.join(dataset_path, "KAG_energydata_complete.csv")

# Cargar el CSV en un DataFrame
df = pd.read_csv(csv_file)

# Mostrar las primeras filas
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [133]:
# Diccionario de nombres de columnas para traducir de inglés a español

columnas_esp = {
    "date": "FECHA",
    "Appliances": "ELECTRODOMESTICOS",
    "lights": "LUCES",
    "T1": "TEMP_COCINA",
    "RH_1": "HUM_COCINA",
    "T2": "TEMP_SALA",
    "RH_2": "HUM_SALA",
    "T3": "TEMP_HAB1",
    "RH_3": "HUM_HAB1",
    "T4": "TEMP_HAB2",
    "RH_4": "HUM_HAB2",
    "T5": "TEMP_BAÑO",
    "RH_5": "HUM_BAÑO",
    "T6": "TEMP_LAVADERO",
    "RH_6": "HUM_LAVADERO",
    "T7": "TEMP_ESTUDIO",
    "RH_7": "HUM_ESTUDIO",
    "T8": "TEMP_CLOSET",
    "RH_8": "HUM_CLOSET",
    "T9": "TEMP_GARAGE",
    "RH_9": "HUM_GARAGE",
    "T_out": "TEMP_EXTERIOR",
    "Press_mm_hg": "PRESION_EXTERIOR",
    "RH_out": "HUM_EXTERIOR",
    "Windspeed": "VEL_VIENTO",
    "Visibility": "VISIBILIDAD",
    "Tdewpoint": "PUNTO_ROCIO",
    "rv1": "VARIABLE_ALEATORIA1",
    "rv2": "VARIABLE_ALEATORIA2"
}

# Aplicar el cambio de nombres
df.rename(columns=columnas_esp, inplace=True)

df.index = range(1, len(df) + 1)
df.index.name = "ID"
# Mostrar las primeras filas para verificar
df.head()

,FECHA,ELECTRODOMESTICOS,LUCES,TEMP_COCINA,HUM_COCINA,TEMP_SALA,HUM_SALA,TEMP_HAB1,HUM_HAB1,TEMP_HAB2,...,TEMP_GARAGE,HUM_GARAGE,TEMP_EXTERIOR,PRESION_EXTERIOR,HUM_EXTERIOR,VEL_VIENTO,VISIBILIDAD,PUNTO_ROCIO,VARIABLE_ALEATORIA1,VARIABLE_ALEATORIA2
ID,,,,,,,,,,,,,,,,,,,,,
1,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
2,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
3,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
4,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
5,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [134]:
import pandas as pd
import os

# Definir la ruta de la carpeta y el archivo
folder_path = "/workspaces/Proyecto-final/data"  # Carpeta donde se guardará el archivo
archivo_csv = os.path.join(folder_path, "consumo_energetico.csv")


# Guardar el DataFrame en la carpeta "data"
df.to_csv(archivo_csv, index=False)

print(f"Archivo guardado exitosamente: {archivo_csv}")

Archivo guardado exitosamente: /workspaces/Proyecto-final/data/consumo_energetico.csv

* SE GUARDO EL ARCHIVO EN LA CARPETA DATA

In [135]:
import pandas as pd
import os

# Ruta donde deseas guardar el archivo (ajústala según tu necesidad)
csv_output_path = "consumo_energetico.csv"

# Guardar el DataFrame en un archivo CSV
df.to_csv(csv_output_path, index=False)

print(f"Archivo guardado exitosamente en: {csv_output_path}")

Archivo guardado exitosamente en: consumo_energetico.csv

* Obtencion de información general del conjunto de datos

In [136]:
print(df.shape)
print(df.info())

(19735, 29)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 1 to 19735
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FECHA                19735 non-null  object
 1   ELECTRODOMESTICOS    19735 non-null  int64
 2   LUCES                19735 non-null  int64
 3   TEMP_COCINA          19735 non-null  float64
 4   HUM_COCINA           19735 non-null  float64
 5   TEMP_SALA            19735 non-null  float64
 6   HUM_SALA             19735 non-null  float64
 7   TEMP_HAB1            19735 non-null  float64
 8   HUM_HAB1             19735 non-null  float64
 9   TEMP_HAB2            19735 non-null  float64
 10  HUM_HAB2             19735 non-null  float64
 11  TEMP_BAÑO            19735 non-null  float64
 12  HUM_BAÑO             19735 non-null  float64
 13  TEMP_LAVADERO        19735 non-null  float64
 14  HUM_LAVADERO         19735 non-null  float64
 15  TEMP_ESTUDIO         19735 non-null  float64
 16  HUM_ESTUDIO          19735 non-null  float64
 17  TEMP_CLOSET          19735 non-null  float64
 18  HUM_CLOSET           19735 non-null  float64
 19  TEMP_GARAGE          19735 non-null  float64
 20  HUM_GARAGE           19735 non-null  float64
 21  TEMP_EXTERIOR        19735 non-null  float64
 22  PRESION_EXTERIOR     19735 non-null  float64
 23  HUM_EXTERIOR         19735 non-null  float64
 24  VEL_VIENTO           19735 non-null  float64
 25  VISIBILIDAD          19735 non-null  float64
 26  PUNTO_ROCIO          19735 non-null  float64
 27  VARIABLE_ALEATORIA1  19735 non-null  float64
 28  VARIABLE_ALEATORIA2  19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB
None

In [137]:
df.columns

Index(['FECHA', 'ELECTRODOMESTICOS', 'LUCES', 'TEMP_COCINA', 'HUM_COCINA',
       'TEMP_SALA', 'HUM_SALA', 'TEMP_HAB1', 'HUM_HAB1', 'TEMP_HAB2',
       'HUM_HAB2', 'TEMP_BAÑO', 'HUM_BAÑO', 'TEMP_LAVADERO', 'HUM_LAVADERO',
       'TEMP_ESTUDIO', 'HUM_ESTUDIO', 'TEMP_CLOSET', 'HUM_CLOSET',
       'TEMP_GARAGE', 'HUM_GARAGE', 'TEMP_EXTERIOR', 'PRESION_EXTERIOR',
       'HUM_EXTERIOR', 'VEL_VIENTO', 'VISIBILIDAD', 'PUNTO_ROCIO',
       'VARIABLE_ALEATORIA1', 'VARIABLE_ALEATORIA2'],
      dtype='object')

In [138]:
df.shape

(19735, 29)

## Almacenamiento en SQL

In [139]:
# Codigo para eliminar tabla existe consumo_energetico, para posibles cambios
import sqlite3

# Volver a abrir la conexión a la base de datos
con = sqlite3.connect("consumo_energetico.db")
cursor = con.cursor()

# Eliminar la tabla si existe
cursor.execute("DROP TABLE IF EXISTS consumo_energetico")

# Confirmar cambios
con.commit()

# Cerrar la conexión después de usarla
con.close()

In [140]:
import sqlite3
import pandas as pd

# Conectar a la base de datos o crearla si no existe
con = sqlite3.connect("consumo_energetico.db")
cursor = con.cursor()

# Crear la tabla consumo_energetico con nombres en inglés
cursor.execute("""
CREATE TABLE consumo_energetico (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    FECHA TEXT NOT NULL,
    ELECTRODOMESTICOS INT NOT NULL,
    LUCES INT NOT NULL,
    TEMP_COCINA FLOAT NOT NULL,
    HUM_COCINA FLOAT NOT NULL,
    TEMP_SALA FLOAT NOT NULL,
    HUM_SALA FLOAT NOT NULL,
    TEMP_HAB1 FLOAT NOT NULL,
    HUM_HAB1 FLOAT NOT NULL,
    TEMP_HAB2 FLOAT NOT NULL,
    HUM_HAB2 FLOAT NOT NULL,
    TEMP_BAÑO FLOAT NOT NULL,
    HUM_BAÑO FLOAT NOT NULL,
    TEMP_LAVADERO FLOAT NOT NULL,
    HUM_LAVADERO FLOAT NOT NULL,
    TEMP_ESTUDIO FLOAT NOT NULL,
    HUM_ESTUDIO FLOAT NOT NULL,
    TEMP_CLOSET FLOAT NOT NULL,
    HUM_CLOSET FLOAT NOT NULL,
    TEMP_GARAGE FLOAT NOT NULL,
    HUM_GARAGE FLOAT NOT NULL,
    TEMP_EXTERIOR FLOAT NOT NULL,
    PRESION_EXTERIOR FLOAT NOT NULL,
    HUM_EXTERIOR FLOAT NOT NULL,
    VEL_VIENTO FLOAT NOT NULL,
    VISIBILIDAD FLOAT NOT NULL,
    PUNTO_ROCIO FLOAT NOT NULL,
    VARIABLE_ALEATORIA1 FLOAT NOT NULL,
    VARIABLE_ALEATORIA2 FLOAT NOT NULL
)
""")

# Confirmar cambios
con.commit()

# Insertar datos en la tabla
try:
    df.to_sql("consumo_energetico", con, if_exists="append", index=False)
    print("Datos insertados correctamente en la base de datos.")
except Exception as e:
    print("Error al insertar datos:", e)

# Confirmar cambios
con.commit()

Datos insertados correctamente en la base de datos.

In [141]:
# Consultar e imprimir la fila con índice 5
cursor.execute("SELECT * FROM consumo_energetico WHERE id = 5")
fila = cursor.fetchone()

if fila:
    print("Fila con id 5:", fila)
else:
    print("No se encontró la fila con id 5.")

Fila con id 5: (5, '2016-01-11 17:40:00', 60, 40, 19.89, 46.33333333333329, 19.2, 44.53, 19.79, 45.0, 18.89, 45.53, 17.2, 55.09, 6.36666666666667, 84.8933333333333, 17.2, 41.23, 18.1, 48.59, 17.0, 45.4, 6.133333333333329, 733.9, 92.0, 5.66666666666667, 47.66666666666669, 4.9, 10.084096551872788, 10.084096551872788)

In [142]:
# Obtener la lista de columnas de la tabla consumo_energetico
cursor.execute("PRAGMA table_info(consumo_energetico)")
columnas_info = cursor.fetchall()  # Lista de tuplas con información de las columnas
columnas = [col[1] for col in columnas_info]  # Extraer solo los nombres de las columnas
print(columnas)

['id', 'FECHA', 'ELECTRODOMESTICOS', 'LUCES', 'TEMP_COCINA', 'HUM_COCINA', 'TEMP_SALA', 'HUM_SALA', 'TEMP_HAB1', 'HUM_HAB1', 'TEMP_HAB2', 'HUM_HAB2', 'TEMP_BAÑO', 'HUM_BAÑO', 'TEMP_LAVADERO', 'HUM_LAVADERO', 'TEMP_ESTUDIO', 'HUM_ESTUDIO', 'TEMP_CLOSET', 'HUM_CLOSET', 'TEMP_GARAGE', 'HUM_GARAGE', 'TEMP_EXTERIOR', 'PRESION_EXTERIOR', 'HUM_EXTERIOR', 'VEL_VIENTO', 'VISIBILIDAD', 'PUNTO_ROCIO', 'VARIABLE_ALEATORIA1', 'VARIABLE_ALEATORIA2']

In [143]:
# Agrego variable "hum_total" que suma la humedad total de cada hogar

if "hum_total" not in columnas:
    cursor.execute("ALTER TABLE consumo_energetico ADD COLUMN hum_total FLOAT DEFAULT 0")
    con.commit()

cursor.execute("""
    UPDATE consumo_energetico
    SET hum_total = HUM_COCINA + HUM_SALA + HUM_HAB1 + HUM_HAB2 + HUM_BAÑO + HUM_LAVADERO + HUM_ESTUDIO + HUM_CLOSET + HUM_GARAGE
""")

con.commit()

In [144]:
# Calculo promedio de humedad en los hogares
cursor.execute("SELECT AVG(hum_total) FROM consumo_energetico")
avg_hum_total = cursor.fetchone()

# Calculo el máximo de humedad registrado entre los hogares
cursor.execute("""
    SELECT hum_total
    FROM consumo_energetico
    ORDER BY hum_total DESC
    LIMIT 1
""")

max_hum_total = cursor.fetchone()

# Calculo el mínimo de humedad registrado entre los hogares
cursor.execute("""
    SELECT hum_total
    FROM consumo_energetico
    ORDER BY hum_total ASC
    LIMIT 1
""")

min_hum_total = cursor.fetchone()

In [145]:
# Si temp_total no existe, la agrego:
if "temp_total" not in columnas:
    cursor.execute("ALTER TABLE consumo_energetico ADD COLUMN temp_total FLOAT DEFAULT 0")
    con.commit()

# Actualizo temp_total sumando todas las columnas TEMP
cursor.execute("""
    UPDATE consumo_energetico
    SET temp_total = TEMP_COCINA + TEMP_SALA + TEMP_HAB1 + TEMP_HAB2 + TEMP_BAÑO +
                     TEMP_LAVADERO + TEMP_ESTUDIO + TEMP_CLOSET + TEMP_GARAGE
""")

# Guardo cambios
con.commit()

In [146]:
# Calculo promedio de temperatura entre los hogares
cursor.execute("SELECT AVG(temp_total) FROM consumo_energetico")
avg_temp_total = cursor.fetchone()

# Calculo el máximo de temperatura registrado entre los hogares
cursor.execute("""
    SELECT temp_total
    FROM consumo_energetico
    ORDER BY temp_total DESC
    LIMIT 1
""")

max_temp_total = cursor.fetchone()

# Calculo el minimo de temperatura registrado entre los hogares
cursor.execute("""
    SELECT temp_total
    FROM consumo_energetico
    ORDER BY temp_total ASC
    LIMIT 1
""")

min_temp_total = cursor.fetchone()

In [147]:
# Calculo estadísticos de humedad y temperatura exterior
cursor.execute("""
    SELECT AVG(TEMP_EXTERIOR)
    FROM consumo_energetico
""")
avg_temp_ex = cursor.fetchone()


cursor.execute("""
    SELECT MIN(TEMP_EXTERIOR)
    FROM consumo_energetico
""")
min_temp_ex = cursor.fetchone()

cursor.execute("""
    SELECT MAX(TEMP_EXTERIOR)
    FROM consumo_energetico
""")
max_temp_ex = cursor.fetchone()

In [148]:
# Calculo consumo de electrodomesticos
cursor.execute("""
    SELECT AVG(ELECTRODOMESTICOS)
    FROM consumo_energetico
""")
avg_electrodomestico = cursor.fetchone()

cursor.execute("""
    SELECT MIN(ELECTRODOMESTICOS)
    FROM consumo_energetico
""")
min_electrodomestico = cursor.fetchone()

cursor.execute("""
    SELECT MAX(ELECTRODOMESTICOS)
    FROM consumo_energetico
""")
max_electrodomestico = cursor.fetchone()

In [149]:
print (f'El promedio de HUMEDAD en las casas es de: {avg_hum_total[0]}\nEl mínimo y máximo se ubican en: {min_hum_total[0]}, {max_hum_total[0]}')
print (f'El promedio de TEMPERATURA en las casas es de: {avg_temp_total[0]}\nEl mínimo y máximo se ubican en: {min_temp_total[0]}, {max_temp_total[0]}')
print (f'El promedio de temperatura en el EXTERIOR es de: {avg_temp_ex[0]}\nEl mínimo y máximo se ubican en: {min_temp_ex[0]}, {max_temp_ex[0]}')
print (f'El promedio de CONSUMO ENERGÉTICO DE LOS ELECTRODOMESTICOS es de: {avg_electrodomestico[0]}\nEl mínimo y máximo se ubican en: {min_electrodomestico[0]}, {max_electrodomestico[0]}')

El promedio de HUMEDAD en las casas es de: 384.3846959168865
El mínimo y máximo se ubican en: 247.7423809523809, 531.4772222222222
El promedio de TEMPERATURA en las casas es de: 174.4358235720275
El mínimo y máximo se ubican en: 132.26444444444448, 231.72552380952376
El promedio de temperatura en el EXTERIOR es de: 7.4116645553585565
El mínimo y máximo se ubican en: -5.0, 26.1
El promedio de CONSUMO ENERGÉTICO DE LOS ELECTRODOMESTICOS es de: 97.6949581960983
El mínimo y máximo se ubican en: 10, 1080

In [150]:
data = {
    'Sintesis': ['Resumen de datos'], 
    'Promedio Humedad Casas': [round(avg_hum_total[0], 2)],
    'Min Humedad Casas': [round(min_hum_total[0], 2)],
    'Max Humedad Casas': [round(max_hum_total[0], 2)],
    
    'Promedio Temperatura Casas': [round(avg_temp_total[0], 2)],
    'Min Temperatura Casas': [round(min_temp_total[0], 2)],
    'Max Temperatura Casas': [round(max_temp_total[0], 2)],
    
    'Promedio Temperatura Exterior': [round(avg_temp_ex[0], 2)],
    'Min Temperatura Exterior': [round(min_temp_ex[0], 2)],
    'Max Temperatura Exterior': [round(max_temp_ex[0], 2)],
    
    'Promedio Consumo Electrodomésticos': [round(avg_electrodomestico[0], 2)],
    'Min Consumo Electrodomésticos': [round(min_electrodomestico[0], 2)],
    'Max Consumo Electrodomésticos': [round(max_electrodomestico[0], 2)],
}

# Crear el DataFrame
sintesis = pd.DataFrame(data)
sintesis.set_index('Sintesis', inplace=True)

# Mostrar el DataFrame
sintesis.head()

,Promedio Humedad Casas,Min Humedad Casas,Max Humedad Casas,Promedio Temperatura Casas,Min Temperatura Casas,Max Temperatura Casas,Promedio Temperatura Exterior,Min Temperatura Exterior,Max Temperatura Exterior,Promedio Consumo Electrodomésticos,Min Consumo Electrodomésticos,Max Consumo Electrodomésticos
Sintesis,,,,,,,,,,,,
Resumen de datos,384.38,247.74,531.48,174.44,132.26,231.73,7.41,-5.0,26.1,97.69,10,1080

# EDA

In [151]:
import pandas as pd

df=pd.read_csv("/workspaces/Proyecto-final/data/consumo_energetico.csv")
df.head()

,FECHA,ELECTRODOMESTICOS,LUCES,TEMP_COCINA,HUM_COCINA,TEMP_SALA,HUM_SALA,TEMP_HAB1,HUM_HAB1,TEMP_HAB2,...,TEMP_GARAGE,HUM_GARAGE,TEMP_EXTERIOR,PRESION_EXTERIOR,HUM_EXTERIOR,VEL_VIENTO,VISIBILIDAD,PUNTO_ROCIO,VARIABLE_ALEATORIA1,VARIABLE_ALEATORIA2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097